{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Account Locked' %}{% endblock %}

{% block content %}
    <div class="page text-center" dir="auto">
        <h1>{% trans 'Account Locked' %}</h1>
        <p>{% trans 'Due to multiple login attempts, and to protect your privacy, this account has been locked.' %}
            <br/> {% trans 'To log in, please reset your password.' %}</p>
        <br/><br/>
        <a href="{% url 'password_reset' %}">{% trans 'Click here to reset your password' %}</a>
        <br/><br/><br/><br/><br/>
        <p style="font-size: 0.8rem; color: darkgray;">{% trans 'For technical support, email:' %} {{ settings.SUPPORT_EMAIL }}</p>
    </div>
{% endblock %}
