{% extends "admin/change_list.html" %}
{% load i18n admin_urls%}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
    <div class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {% if not is_popup and has_change_permission %}
                    <li><a href="{% url opts|admin_urlname:'recoverlist' %}" class="recoverlink">
                        {% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted
                            {{ name }}{% endblocktrans %}</a></li>
                {% endif %}
                {{ block.super }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}