<script
        src={{ settings.FRONTEND_SENTRY_DSN }}
                crossorigin="anonymous"
></script>
<script>
    Sentry.onLoad(function () {
        Sentry.init({
            environment: {{ settings.SITE_ENVIRONMENT }},
            // Performance Monitoring
            tracesSampleRate: {% if settings.SITE_ENVIRONMENT == "Production" %}0.01{% else %}0.25{% endif %}, // Capture 100% of the transactions
            // Session Replay
            replaysSessionSampleRate: {% if settings.SITE_ENVIRONMENT == "Production" %}0.01{% else %}0.25{% endif %}, // This sets the sample rate at 10%. You may want to change it to 100% while in development and then sample at a lower rate in production.
            replaysOnErrorSampleRate: {% if settings.SITE_ENVIRONMENT == "Production" %}0.1{% else %}1.0{% endif %}, // If you're not already sampling the entire session, change the sample rate to 100% when sampling sessions where errors occur.
        });
    });
</script>